.Arec1 {
    margin-top: 110px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(143, 198, 143);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    border: 1px solid #017056;
  }
  
  .qrow {
    overflow-x: auto;
  }
  
  .field-container {
    flex-basis: 100%;
    display: flex;
    width: 400px;
    
  }
  
  .question-field,
  .choice-field,
  .correct-ans-field,
  .category-field,
  .source-field,
  .image-field {
    flex-basis: calc(50% - 10px); /* Adjust based on your layout needs */
    padding: 2px;
  font-weight: 700;
    font-family: 'IM FELL DW Pica SC';
  }
  
  .delete-button {
    position: absolute;
    bottom: 0;
    margin: 10px;
    right: 5px;
    padding: 5px 10px;
    background-color: rgb(198, 31, 31);
  }
  