@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Inconsolata&display=swap');

.body {
    margin: 0;
}

.log-container {
    display: flex;
    height: 97vh;
    overflow-y: hidden;
}

.lg-left-container {
    flex: 2;
    width: 655px;
    height: 590px;

    overflow-y: hidden;
    box-shadow: 10px 0 0px rgba(85, 84, 84, 0.5);
    margin-top: 100px
}

.lg-left-container img {
    width: 100%;
    /* Make sure the image takes 100% of the container's width */
    height: 100%;
    /* Make sure the image takes 100% of the container's height */

}

.lg-right-container {
    flex: 2;
    overflow: hidden;
}

.lg-right-container h1 {
    position: absolute;
    width: 200px;
    height: 103px;
    right: 200px;
    top: 30px;

    font-family: 'IM FELL DW Pica SC';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.lg-right-container #UserName {
    position: absolute;
    width: 450px;
    height: 35px;
    right: 90px;
    top: 170px;
    border: none;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(87, 86, 86, 0.25);
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.lg-right-container #Password {
    position: absolute;
    width: 450px;
    height: 35px;
    right: 90px;
    top: 240px;
    /* Adjust the top position to create space below the username input */
    border: none;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(87, 86, 86, 0.25);
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
}


.lg-right-container input::placeholder {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 0px;
}


.lg-right-container #UserType {
    position: absolute;
    width: 473px;
    height: 35px;
    right: 90px;
    top: 320px;
    border: none;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(87, 86, 86, 0.25);
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;

}

.lg-button {
    box-sizing: border-box;
    position: absolute;
    width: 260px;
    height: 50px;
    right: 170px;
    top: 390px;
    border: none;
    background: #27AC1F;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
    /* Adjust the line-height to match the button height */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center horizontally */

    text-align: center;
    color: #FFFFFF;
}

.lg-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lg-right-container h2 {
    position: absolute;
    width: 400px;
    height: 103px;
    right: 165px;
    top: 410px;

    font-family: 'IM FELL DW Pica SC';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 88px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


.lg-button2 {
    box-sizing: border-box;
    position: absolute;
    width: 260px;
    height: 50px;
    right: 170px;
    top: 510px;
    border: 2px solid #27AC1F;
    background: #FFFFFF;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 58px;
    /* Adjust the line-height to match the button height */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center horizontally */

    text-align: center;
    color: #27AC1F;
}

.lg-button2:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 768px) {

    .lg-right-container h1 {

        width: 200px;
        height: 113px;
        right: 50px;
        top: 25px;


    }

    .lg-left-container img {
        width: 110%;
        /* Make sure the image takes 100% of the container's width */
        height: 90%;


    }




   

    .lg-left-container {
        flex: 2;
        width: 50%;



    }











    .lg-right-container input[type="text"] {

        width: 200px;
        right: 50px;

    }



    .lg-right-container input::placeholder {

        font-size: 18px;

    }


    .lg-right-container #UserType {

        width: 222px;
        right: 50px;



    }

    .lg-button {

        width: 160px;
        height: 58px;
        right: 80px;
        top: 390px;

    }




    .lg-right-container h2 {

        right: -110px;
    }


    .lg-button2 {

        width: 160px;
        height: 58px;
        right: 80px;
        top: 510px;

    }



    .log-container {

        height: 90vh;
        overflow-y: hidden;

    }


    .lg-right-container {
        flex: 2;
        overflow-x: hidden;
    }
    .lg-right-container #UserName,
    .lg-right-container #Password {
        width: 32%;
        right: 50px;
       
    }

}