h1{
 margin-top:65px;
 font-family: 'IM FELL DW Pica SC';
 text-decoration: underline;

}

.sQ{
    padding: 5px;
}
#submittedQuestionsTable {
    width: 100%;
    border-collapse: collapse;
    
}


#submittedQuestionsTable th {
    background-color: #3CB371; 
    color: white;
    padding: 10px;
    text-align: left;
}


#submittedQuestionsTable td, #submittedQuestionsTable th {
    border: 1px solid #dddddd;
    padding: 8px;
}





.edit-btn {
    background-color: #585757; 
    color: white;
    border: none;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn {
    background-color: #FF6347; 
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
}


.edit-btn:hover {
    background-color: #363535; 
}

.delete-btn:hover{
    background-color: #FF4500; 
}



input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
}


.submit-btn {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.submit-btn:hover {
    background-color: #45a049;
}
