.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.dashboard-buttons {
    display: flex;
    flex-direction: row; /* Change to row */
    justify-content: center; /* Align horizontally */
    align-items: center;
    margin-top: 20px; /* Add margin */
}

.dashboard-buttons button {
    margin: 0 10px; /* Add margin between buttons */
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Add transition */
}

.dashboard-buttons button:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

.dashboard-buttons img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
