<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    
</head>
<body>

    <nav class="navbar">
        <div class="navbar-logo">
            <img src="./images/logo.png" alt="Logo">
        </div>
        <ul class="navbar-links">
            <li><a id="lnk-home" href="s-home.html">Home</a></li>
            <li><a id="lnk-profile" href="s-profile.html">Profile</a></li>
            <li><a id="lnk-forum" href="Forum.html">Forum</a></li>
            <li id="login-btn"><a href="login.html" onclick=" clearUserLocalStorage()">LOG OUT</a></li>
        </ul>
    </nav>

    
    <script src="./js/navbar.js"></script>

</body>
</html>
